<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="py-3 relative flex h-16 justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a href="{% url 'cars' %}"
                           class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Транспортные
                            средства</a>
                        <a href="{% url 'drivers' %}"
                           class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Водители</a>
                        <a href="{% url 'delivery' %}"
                           class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Перевозки</a>
                    </div>
                </div>
            </div>
            <div class="space-x-4">
                <button class="bg-red-600 text-white rounded-md px-3 py-2 text-sm font-medium"
                        onclick="location.href='{% url 'logout' %}?next=/'">Выйти
                </button>
                <a class="bg-yellow-500 text-white rounded-md px-3 py-2 text-sm font-medium">{{ user.username }}</a>
            </div>
        </div>
    </div>
</nav>

{% if messages %}
<div class="py-6 px-6">
    {% for message in messages %}
    <div class="py-4 px-4 bg-teal-300 text-white rounded-xl">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}</strong><span>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>