{% extends 'base.html'%}

{% block title %}
Редактировать перевозку
{% endblock %}

{% block content %}
<div class="py-6 px-6">

    <form method="post" action=".">
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-4 place-content-between">
            <div class="self-start">
                <h1 class="mb-4 text-xl">Редактировать перевозку</h1>
        <table>
            <tbody>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Дата загрузки:</th>
                <td class="border border-slate-300">
                    <input type="date" name="date_of_delivery" value="{{ form.date_of_delivery.value | date:'Y-m-d' }}" id="date_of_delivery">
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Авто на загрузке:</th>
                <td class="border border-slate-300">
                    {{ form.car }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Водитель на загрузке:</th>
                <td class="border border-slate-300">
                    {{ form.driver }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Перевозчик:</th>
                <td class="border border-slate-300">
                    {{ form.transporter }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Авто после перецепки:</th>
                <td class="border border-slate-300">
                    {{ form.next_car }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Водитель после перецепки:</th>
                <td class="border border-slate-300">
                    {{ form.next_driver }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Перевозчик после перецепки:</th>
                <td class="border border-slate-300">
                    {{ form.next_transporter }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Номер путевого листа:</th>
                <td class="border border-slate-300">
                    {{ form.waybill_number }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Дата путевого листа:</th>
                <td class="border border-slate-300">
                    <input type="date" name="waybill_date" value="{{ form.waybill_date.value | date:'Y-m-d' }}" id="waybill_date">
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Заказчик:</th>
                <td class="border border-slate-300">
                    {{ form.customer }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Контактное лицо от Заказчика:</th>
                <td class="border border-slate-300">
                    {{ form.customer_contact }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Номер заявки:</th>
                <td class="border border-slate-300">
                    {{ form.application_number }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Дата заявки:</th>
                <td class="border border-slate-300">
                    <input type="date" name="application_date" value="{{ form.application_date.value | date:'Y-m-d' }}" id="application_date">
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">МАРШРУТ (ЗАГРУЗКА -ТАМОЖНИ +ДОВОЗ):</th>
                <td class="border border-slate-300">
                    {{ form.route }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Ставка:</th>
                <td class="border border-slate-300">
                    <span class="border border-slate-300">{{ form.rate }}</span> {{ form.rate_currency }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Количество литров топлива продано:</th>
                <td class="border border-slate-300">
                    {{ form.liters }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Получили за топливо (EUR):</th>
                <td class="border border-slate-300">
                    {{ form.liters_amount }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Выезд из накопителя (EUR):</th>
                <td class="border border-slate-300">
                    {{ form.storage }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Стоимость таможенного оформления:</th>
                <td class="border border-slate-300">
                    <span class="border border-slate-300">{{ form.customs_clearance }}</span> {{ form.customs_currency }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Стоимость электронной пломбы (BYN):</th>
                <td class="border border-slate-300">
                    {{ form.electronic_seal }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Количество дней простоя:</th>
                <td class="border border-slate-300">
                    {{ form.prostoi }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Ставка за день простоя:</th>
                <td class="border border-slate-300">
                    <span class="border border-slate-300">{{ form.rate_for_prostoi }}</span> {{ form.prostoi_currency }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Номер счёта:</th>
                <td class="border border-slate-300">
                    {{ form.score_number }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Дата выставления счёта:</th>
                <td class="border border-slate-300">
                    <input type="date" name="score_date" value="{{ form.score_date.value | date:'Y-m-d' }}" id="score_date">
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Итоговая сумма счёта:</th>
                <td class="border border-slate-300">
                    <span class="border border-slate-300">{{ form.score_total }}</span> {{ form.score_currency }}
                </td>
            </tr>
            <tr>
                <th class="mr-3 text-left border border-slate-300">Срок оплаты (Банковских дней):</th>
                <td class="border border-slate-300">
                    {{ form.payment_term }}
                </td>
            </tr>
            </tbody>
        </table>
            </div>
        <div class="self-start">

            <h1 class="mb-4 text-xl">Информация по обратке</h1>

                <table>
                    <tbody>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Дата загрузки:</th>
                        <td class="border border-slate-300">
                            <input type="date" name="date_of_back_delivery" value="{{ back_form.date_of_back_delivery.value | date:'Y-m-d' }}" id="date_of_back_delivery">
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Заказчик:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_customer }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Контактное лицо от Заказчика:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_customer_contact }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Номер заявки:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_application_number }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Дата заявки:</th>
                        <td class="border border-slate-300">
                            <input type="date" name="back_application_date" value="{{ back_form.back_application_date.value | date:'Y-m-d' }}" id="back_application_date">
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">МАРШРУТ:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_route }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Ставка:</th>
                        <td class="border border-slate-300">
                            <span class="border border-slate-300">{{ back_form.back_rate }}</span> {{ back_form.back_rate_currency }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Количество дней простоя:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_prostoi }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Ставка за день простоя:</th>
                        <td class="border border-slate-300">
                            <span class="border border-slate-300">{{ back_form.back_rate_for_prostoi }}</span> {{ back_form.back_prostoi_currency }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Номер счёта:</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_score_number }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Дата выставления счёта:</th>
                        <td class="border border-slate-300">
                            <input type="date" name="back_score_date" value="{{ back_form.back_score_date.value | date:'Y-m-d' }}" id="back_score_date">
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Итоговая сумма счёта:</th>
                        <td class="border border-slate-300">
                            <span class="border border-slate-300">{{ back_form.back_score_total }}</span> {{ back_form.back_score_currency }}
                        </td>
                    </tr>
                    <tr>
                        <th class="mr-3 text-left border border-slate-300">Срок оплаты (Банковских дней):</th>
                        <td class="border border-slate-300">
                            {{ back_form.back_payment_term }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>

        <hr class="my-4">

        <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Сохранить изменения</button>
    </form>
</div>
{% endblock %}

{% block scripts %}

    <script>
        $("#id_car").select2();
        $("#id_next_car").select2();
        $("#id_driver").select2();
        $("#id_next_driver").select2();
    </script>

{% endblock %}