{% extends 'base.html'%}

{% block title %}
Добавить транспортное средство
{% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">Добавить транспортное средство</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <table>
            <tbody>
            <tr>
                <th><label for="id_number">Номер авто:</label></th>
                <td>
                    <input class="border-2 border-black-200" type="text" name="number" maxlength="10" required="" id="id_number">
                </td>
            </tr>
            <tr>
                <th><label for="id_model">Марка-модель ТС:</label></th>
                <td>
                    <input class="border-2 border-black-200" type="text" name="model" maxlength="50" required="" id="id_model">
                </td>
            </tr>
            <tr>
                <th><label for="id_manufacture_year">Год выпуска:</label></th>
                <td>
                    <input class="border-2 border-black-200" type="number" name="manufacture_year" step="1" required="" id="id_manufacture_year">
                </td>
            </tr>
            <tr>
                <th><label for="id_green_card">Зелёнка:</label></th>
                <td>
                    <input type="date" name="green_card" id="id_green_card">
                </td>
            </tr>
            <tr>
                <th><label for="id_strahovka">Страховка:</label></th>
                <td>
                    <input type="date" name="strahovka" id="id_strahovka">
                </td>
            </tr>
            <tr>
                <th><label for="id_tehosmotr">Техосмотр:</label></th>
                <td>
                    <input type="date" name="tehosmotr" id="id_tehosmotr">
                </td>
            </tr>
            <tr>
                <th><label for="id_tahograf">Тахограф:</label></th>
                <td>
                    <input type="date" name="tahograf" id="id_tahograf">
                </td>
            </tr>
            <tr>
                <th><label for="id_tamogennoye">Таможенное:</label></th>
                <td>
                    <input type="date" name="tamogennoye" id="id_tamogennoye">
                </td>
            </tr>
            <tr>
                <th><label for="id_kasko">КАСКО:</label></th>
                <td>
                    <input type="date" name="kasko" id="id_kasko">
                </td>
            </tr>
            <tr>
                <th><label for="id_cmr_strahovka">CMR-страховка:</label></th>
                <td>
                    <input type="date" name="cmr_strahovka" id="id_cmr_strahovka">
                </td>
            </tr>
            <tr>
                <th><label for="id_e100_rb">Е100 РБ:</label></th>
                <td>
                    <input type="date" name="e100_rb" id="id_e100_rb">
                </td>
            </tr>
            <tr>
                <th><label for="id_e100_rf">Е100 РФ:</label></th>
                <td>
                    <input type="date" name="e100_rf" id="id_e100_rf">
                </td>
            </tr>
            <tr>
                <th><label for="id_active">Отслеживать?</label></th>
                <td>
                    <input type="checkbox" name="active" id="id_active">
                </td>
            </tr>
            </tbody>
        </table>

        <hr class="my-4">

        <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Добавить</button>
    </form>
</div>
{% endblock %}