{% extends 'main/base.html' %}
{% load static %}

{% block title %}
ЧТУП ЛАВТРАНС-2001 - Главная страница
{% endblock %}

{% block content %}
<div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
>
    <div class="carousel-indicators">
        <button
                type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img
                    src="{% static 'main/img/1660734212_26-sportishka-com-p-g.jpg' %}"
                    class="d-block w-100"
                    alt="1"
            />
            <div class="carousel-caption d-none d-md-block">
                <h1><strong>ЧТУП ЛАВТранс-2001 - Всегда в движении!</strong></h1>
                <p class="h5">
                    Предлагаем услуги в области транспортных грузоперевозок и
                    организации доставки грузов в городском, междугороднем и
                    международном сообщении.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img
                    src="{% static 'main/img/1660766740_22-sportishka-com-p-g.jpg' %}"
                    class="d-block w-100"
                    alt="2"
            />
            <div class="carousel-caption d-none d-md-block">
                <h1><strong>ЧТУП ЛАВТранс-2001 - Всегда в движении!</strong></h1>
                <p class="h5">
                    Предлагаем услуги в области транспортных грузоперевозок и
                    организации доставки грузов в городском, междугороднем и
                    международном сообщении.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img
                    src="{% static 'main/img/главная3.jpg' %}"
                    class="d-block w-100"
                    alt="3"
            />
            <div class="carousel-caption d-none d-md-block">
                <h1><strong>ЧТУП ЛАВТранс-2001 - Всегда в движении!</strong></h1>
                <p class="h5">
                    Предлагаем услуги в области транспортных грузоперевозок и
                    организации доставки грузов в городском, междугороднем и
                    международном сообщении.
                </p>
            </div>
        </div>
    </div>
    <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
{% endblock %}