{% extends 'base.html'%}

{% block title %}
Добавить водителя
{% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">Добавить водителя</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <table>
            <tbody>
            <tr>
                <th><label for="id_last_name">Фамилия:</label></th>
                <td>
                    <input type="text" name="last_name" maxlength="20" required="" id="id_last_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_name">Имя:</label></th>
                <td>
                    <input type="text" name="name" maxlength="20" required="" id="id_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_middle_name">Отчество:</label></th>
                <td>
                    <input type="text" name="middle_name" maxlength="20" required="" id="id_middle_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_passport">Паспорт:</label></th>
                <td>
                    <input type="date" name="passport" id="id_passport">
                </td>
            </tr>
            <tr>
                <th><label for="id_visa">Виза:</label></th>
                <td>
                    <input type="date" name="visa" id="id_visa">
                </td>
            </tr>
            <tr>
                <th><label for="id_driver_card">Водительское удостоверение:</label></th>
                <td>
                    <input type="date" name="driver_card" id="id_driver_card">
                </td>
            </tr>
            <tr>
                <th><label for="id_mezhdunarodnik">Квалификационная карточка водителя:</label></th>
                <td>
                    <input type="date" name="mezhdunarodnik" id="id_mezhdunarodnik">
                </td>
            </tr>
            <tr>
                <th><label for="id_chip">Карта водителя (ЧИП):</label></th>
                <td>
                    <input type="date" name="chip" id="id_chip">
                </td>
            </tr>
            <tr>
                <th><label for="id_adr">Свидетельство ДОПОГ (ADR):</label></th>
                <td>
                    <input type="date" name="adr" id="id_adr">
                </td>
            </tr>
            <tr>
                <th><label for="id_doverennost_rus">Доверенность ООО ЛАВТРАНС-2001 РУС:</label></th>
                <td>
                    <input type="date" name="doverennost_rus" id="id_doverennost_rus">
                </td>
            </tr>
            <tr>
                <th><label for="id_doverennost_lt">Доверенность ЧТУП ЛАВТранс-2001:</label></th>
                <td>
                    <input type="date" name="doverennost_lt" id="id_doverennost_lt">
                </td>
            </tr>
            <tr>
                <th><label for="id_doverennost_mul">Доверенность ООО МУЛЬТИЛАЙН:</label></th>
                <td>
                    <input type="date" name="doverennost_mul" id="id_doverennost_mul">
                </td>
            </tr>
            <tr>
                <th><label for="id_active">Отслеживать?</label></th>
                <td>
                    <input type="checkbox" name="active" id="id_active">
                </td>
            </tr>
            </tbody>
        </table>

        <hr class="my-4">

        <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Добавить</button>
    </form>
</div>
{% endblock %}