<!doctype html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      <nav class="py-6 px-20 flex justify-between bg-teal-500">
          <a href="{% url 'drivers' %}" class="text-white text-xl">Информация по водителям</a>

          <div class="space-x-4">
              <a href="{% url 'add_driver' %}" class="py-4 px-6 bg-teal-600 rounded-xl text-white">Добавить нового водителя</a>
              <button class="py-4 px-8 bg-red-600 text-white rounded-xl" onclick="location.href='{% url 'logout' %}?next=/cars'">Выйти</button>
              <a class="py-4 px-6 bg-yellow-500 rounded-xl text-white">{{ user.username }}</a>
          </div>
      </nav>

      {% if messages %}
        <div class="py-6 px-6">
            {% for message in messages %}
                <div class="py-4 px-4 bg-teal-300 text-white rounded-xl">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
      {% endif %}

    {% block content %}
    {% endblock %}

    </body>
</html>