{% extends 'database/drivers/base_for_drivers.html'%}

{% block title %}
Редактирование данных
{% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">Редактирование данных</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <table>
            <tbody>
            <tr>
                <th><label for="id_last_name">Фамилия:</label></th>
                <td>
                    <input type="text" name="last_name" value="{{ form.last_name.value }}" maxlength="20" required="" id="id_last_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_name">Имя:</label></th>
                <td>
                    <input type="text" name="name" value="{{ form.name.value }}" maxlength="20" required="" id="id_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_middle_name">Отчество:</label></th>
                <td>
                    <input type="text" name="middle_name" value="{{ form.middle_name.value }}" maxlength="20" required="" id="id_middle_name">
                </td>
            </tr>
            <tr>
                <th><label for="id_passport">Паспорт:</label></th>
                <td>
                    <input type="date" name="passport" value="{{ form.passport.value | date:'Y-m-d' }}" id="id_passport">
                </td>
            </tr>
            <tr>
                <th><label for="id_visa">Виза:</label></th>
                <td>
                    <input type="date" name="visa" value="{{ form.visa.value | date:'Y-m-d' }}" id="id_visa">
                </td>
            </tr>
            <tr>
                <th><label for="id_driver_card">Водительское удостоверение:</label></th>
                <td>
                    <input type="date" name="driver_card" value="{{ form.driver_card.value | date:'Y-m-d' }}" id="id_driver_card">
                </td>
            </tr>
            <tr>
                <th><label for="id_active">Отслеживать?</label></th>
                <td>
                    <input type="checkbox" name="active" id="id_active" checked>
                </td>
            </tr>
            </tbody>
        </table>

        <hr class="my-4">

        <button class="py-4 px-8 bg-teal-500 text-white rounded-xl">Сохранить изменения</button>
    </form>
</div>
{% endblock %}